<!doctype html>
<html>
  <head>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/rrweb@1.1.3/dist/rrweb-all.min.css"
    />
    <script
        src="https://cdn.jsdelivr.net/npm/rrweb@1.1.3/dist/rrweb-all.min.js"
    ></script>
  </head>
  <body>
    <script>
     const events = [
         {% for event in events %}
         {
             'type': {{ event.kind }},
             'data': {{ event.data|safe }},
             'timestamp': {{ event.timestamp }},
         },
         {% endfor %}
     ];
     const replayer = new rrweb.Replayer(events);
     replayer.play();
    </script>
  </body>
</html>
